@import url('https://fonts.cdnfonts.com/css/open-sans');
.container.serve{
  
    background:url("../assets/Section_Background.png");
    background-repeat: no-repeat;
}

.card.card221{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 16rem;
    
}

h5{
    font-weight: bold;
    font-size: 20px;
    
}
.card-text{
    font-weight: lighter;
    font-size: 16px;
    float: left;
}


@media only screen and (max-width: 600px) {
  .border-1{
top: 10%;
  }
   
  .card.m-2{
    left: 24.5%;
    top: 23%;
    width: 16rem;
  }
  .card{
    left: 28%;
  }
    }